<div class="row">
    <a routerLink="/newHealthCheck" routerLinkActive="active">
        <button type="button" class="btn btn-success">New HealthCheck</button>
    </a>        
</div>

<h2 class=py-5>HealthCheck</h2>

<table  class="table table-hover">
        <thead>                            
            <tr>
                <th>Date</th>                                       
            </tr>               
        </thead>
        <tbody>
            <tr *ngFor="let healthCheck of healthCheckList">            
                {{healthCheck.date}}          
            </tr>
        </tbody>            
</table>
