<div class="container">

    <app-health-checks-content></app-health-checks-content>
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" [class.active]="true" id="healthchecks-tab" data-toggle="tab" href="#" role="tab" aria-controls="healthchecks" aria-selected="false">Healthchecks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stats-tab" data-toggle="tab" href="#" role="tab" aria-controls="stats" aria-selected="true">Stats</a>
        </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="healthchecks" role="healthchecks" aria-labelledby="healthchecks-tab">
                <app-health-checks-content></app-health-checks-content>
        </div>

        <div class="tab-pane fade " id="stats" role="stats" aria-labelledby="stats-tab">
                <app-stats-content></app-stats-content>
        </div>
    </div> -->
</div>
