<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th class="text-center squadColor" scope="col" *ngFor="let squad of squads" >{{squad.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evaluation of healthCheck.evaluations">
                <th scope="row">{{evaluation.topic}}</th>
                <td *ngFor="let scoring of evaluation.ev">
                    <div class="row">
                        <div class="col" align="center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                New Evaluation
                            </button>
                        </div>
                    </div>                                        

                    <!-- <input [ngModelOptions]="{standalone: true}" maxlength="2"
                                class="form-control" name="squad{{scoring.squad}}_topic{{evaluation.topic}}" id="squad{{scoring.squad}}_topic{{evaluation.topic}}" 
                                [(ngModel)]="scoring.score">     -->
                </td>
            </tr>
        </tbody>        
    </table>

    <button type="button" class="btn btn-success" (click)="saveHealthCheck()">Save HealthCheck</button>

<!-- <div class="col">
        <img src="assets/images/red.png"
            style="max-width:20px;  max-height:20px;" class="figure-img img-fluid img-center" alt="Squad logo">
    </div>

    <div class="col">
        <img src="assets/images/orange.png"
            style="max-width:20px;  max-height:20px;" class="figure-img img-fluid img-center"  alt="Squad logo">
    </div>

    <div class="col">
        <img src="assets/images/green.png"
            style="max-width:20px;  max-height:20px;" class="figure-img img-fluid img-center" alt="Squad logo">
    </div> -->