<div class="container">
    <form>
        <div class="row">
            <div class="col-md-6 mb-3">        
                <label for="topicName">Topic name</label>
                <input [ngModelOptions]="{standalone: true}" class="form-control" name="topicName" id="topicName" placeholder="Enter topic name" [(ngModel)]="topicName" required>
            </div>
            <div class="col-md-6 mb-3">        
                <label for="topicDescription">Topic description</label>
                <input [ngModelOptions]="{standalone: true}" class="form-control" name="topicDescription" id="topicDescription" placeholder="Enter topic description" [(ngModel)]="topicDescription" required>
            </div>                
        </div>      

    
        <button type="button" class="btn btn-success" (click)="createTopic()">Create Topic</button>
    </form>

    <h2 class=py-5>Topics</h2>
        
    <table  class="table table-hover table-striped">
        <thead>                            
            <tr>
                <th>Status</th>   
                <th>Topic Name</th>           
                <th>Description</th>         
            </tr>               
        </thead>
        <tbody>
            <tr *ngFor="let topic of topics">
                <td>
                    <label class="switch">                        
                        <input type="checkbox" (click)="updateStatus(topic._id)" [checked]="topic.active">                        
                        <span class="slider round"></span>
                    </label>
                </td>  
                <td>                   
                    <span>{{topic.name}}</span>
                </td>  
                <td>
                    <span>{{topic.description}}</span>
                </td>            
            </tr>
        </tbody>            
    </table>
</div>


