<div class="wrapper">
  
  <sidebar></sidebar>

  <div id="content" style="width : 100%">
      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" (click)="toggleSideBar()">        
          &lt;
      </button>
      
      <router-outlet></router-outlet>
  <div>
</div>

<!-- <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div> -->
