#sidebar {
    min-width: 180px;
    max-width: 200px;
    min-height: 100vh;
    background: #37563b;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.inactive {
    margin-left: -180px;
}

#sidebar .sidebar-header {
    padding: 0px;
    background: #37563b;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    border-top: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #28901c;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #28901c;
}

ul li a {
    font-size: 1.2em !important;
    padding-left: 30px !important;  
    color: #28a745;
}
