<nav id="sidebar" [ngClass]="{'inactive': sideBarInactive}">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <img src="assets/images/hartmanLogo.png">
    </div>

    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
        <li><a routerLink="/healthChecks" routerLinkActive="active">Health Checks</a></li>
        <li><a routerLink="/squads" routerLinkActive="active">Squads</a></li>
        <li><a routerLink="/gears" routerLinkActive="active">Gears</a></li>        
        <li><a routerLink="/topics" routerLinkActive="active">Topics</a></li>     
    </ul>        
</nav> 
