<div class="container">
    <form>
        <div class="row">
            <div class="col-md-6 mb-3">        
                <label for="inputName">Gear Name</label>
                <input [ngModelOptions]="{standalone: true}" class="form-control" id="inputName" placeholder="Enter gear name" [(ngModel)]="gearName" required>
            </div>
            <div class="col-md-6 mb-3">        
                <label for="inputEmail">Email</label>
                <input [ngModelOptions]="{standalone: true}" class="form-control" id="inputEmail" placeholder="Enter email" [(ngModel)]="gearEmail" required>
            </div>
            
        </div>  
        
        <app-squad-selection></app-squad-selection>    
    
        <button type="button" class="btn btn-success" (click)="createGear()">Create Gear</button>
    </form>

    <h2 class=py-5>Gears</h2>
 
</div>